[Desktop Entry]
Type=Application
Name=Devilspie2 Transparency
Exec=devilspie2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
Comment=Global window transparency
